/* line 60, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* line 65, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
html, body {
  height: 100% !important;
  min-height: 100%;
  background: #ccc;
  font-size: 16px; }
  @media screen and (max-width: 620px) {
    /* line 65, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
    html, body {
      font-size: 13px; } }

/* 
	Typography
*/
/* line 79, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
h1 {
  font-size: 5em; }

/* line 83, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
h1, h2 {
  font-family: "Oswald", Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px; }

/* line 89, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #000; }

/* line 93, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
p {
  font-size: 1.35em;
  color: #888; }
  /* line 96, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
  p.small {
    font-size: 1em; }

/* line 101, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
a {
  outline: none !important; }

/* 
	Modes
*/
/* line 109, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
.dark {
  background: #000;
  color: #555; }
  /* line 112, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #fff; }

/* line 116, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
.white {
  background: #fff; }

/* line 119, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
.dark.trans {
  background: rgba(0, 0, 0, 0.8); }

/* line 122, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
.white.trans {
  background: rgba(255, 255, 255, 0.8); }

/* line 125, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
.blue {
  background: #558099;
  color: #afcce0; }
  /* line 128, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
  .blue h1, .blue h2, .blue h3, .blue h4, .blue h5, .blue h6 {
    color: #fff; }

/*
	Layout
*/
/* line 137, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
.centered {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 250px; }

/* line 143, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
.centered.medium {
  width: 100%;
  max-width: 500px;
  padding: 0 20px; }

/* line 149, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
.centered.large {
  max-width: 920px;
  padding: 20px;
  width: 100%;
  min-height: 400px; }
  @media screen and (max-width: 992px) {
    /* line 149, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
    .centered.large {
      position: relative !important;
      padding: 0 !important;
      height: auto !important; } }

/* line 161, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
section {
  min-height: 100%;
  width: 100%;
  position: relative;
  padding: 75px 30px; }
  @media screen and (max-width: 620px) {
    /* line 161, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
    section {
      padding: 50px 20px; } }
  /* line 169, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
  section .block {
    padding: 40px; }

/* line 175, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
img.fs {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0; }
/* line 184, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
img.faded {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: #000; }

/*
	Navigation
*/
/* line 194, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
nav#main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #000;
  border-bottom: 1px solid #222;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  /* line 203, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
  nav#main .logo {
    height: 80px;
    line-height: 80px;
    padding: 0 40px;
    position: absolute;
    left: 0;
    color: #666;
    font-family: "Oswald", Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    @media screen and (max-width: 620px) {
      /* line 203, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
      nav#main .logo {
        padding: 0 12px; } }
  /* line 218, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
  nav#main ul {
    list-style: none;
    height: 80px;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    @media screen and (max-width: 620px) {
      /* line 218, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
      nav#main ul {
        text-align: right; } }
    /* line 228, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
    nav#main ul li {
      height: 80px;
      display: inline-block;
      border-left: 1px solid #222;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      /* line 233, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
      nav#main ul li a {
        height: 80px;
        display: inline-block;
        padding: 0 40px;
        line-height: 80px;
        color: #666;
        font-family: "Oswald", Arial, sans-serif;
        text-transform: uppercase;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        @media screen and (max-width: 620px) {
          /* line 233, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
          nav#main ul li a {
            padding: 0 12px; } }
        /* line 245, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
        nav#main ul li a:hover {
          text-decoration: none;
          background: #222;
          color: #fff; }
        /* line 250, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
        nav#main ul li a.active {
          background: #222;
          color: #fff; }
      /* line 255, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
      nav#main ul li:last-child {
        border-right: 1px solid #222; }
  /* line 260, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
  nav#main.affix {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: auto;
    height: 40px;
    border-bottom: 1px solid #222; }
    /* line 267, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
    nav#main.affix .logo {
      height: 480px;
      line-height: 40px;
      padding: 0 10px; }
    /* line 272, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
    nav#main.affix ul {
      height: 40px; }
      /* line 274, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
      nav#main.affix ul li {
        height: 40px; }
        /* line 276, /Users/kaj/Dropbox/freelance/Themanoid/Themes/SIR/dev-documentation-mac/source/stylesheets/style.scss */
        nav#main.affix ul li a {
          height: 40px;
          line-height: 40px; }
