<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Titan - Responsive Creative Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/elements.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <script src="js/assets/jquery.js"></script>
  </head>
  <body class="smooth-transition gray-bg">
    <div class="container-fluid">
      <header>
        <div class="container"><a href="/" class="brand"><img src="images/logo-titan.svg" alt="" class="brand-default"><img src="images/logo-titan-white.svg" alt="" class="brand-light"></a>
          <div class="nav-btn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          <div class="nav-container top">
            <div class="container">
              <div class="row">
                <div class="col-md-3"><a href="#" class="brand"><img alt="Titan Template - by Themanoid" src="images/logo-titan-white.svg"></a>
                  <p class="mt-lg">A Creative Template for Professionals, Agencies, Creatives &amp; Freelancers.</p>
                  <ul class="social">
                    <li><a href="#">
                        <div class="fa fa-twitter"></div></a></li>
                    <li><a href="#">
                        <div class="fa fa-behance"></div></a></li>
                    <li><a href="#">
                        <div class="fa fa-instagram"></div></a></li>
                    <li><a href="#">
                        <div class="fa fa-vimeo"></div></a></li>
                  </ul>
                </div>
                <div class="col-md-9">
                  <div class="inner">
                    <ul class="navigation-items">
                      <li><a href="/">Home</a></li>
                      <li class="dropdown"><a href="#">Portfolio</a>
                        <ul class="dropdown-nav">
                          <li><a href="pages/portfolio/default-2-columns.html">Portfolio - 2 columns</a></li>
                          <li><a href="pages/portfolio/default-3-columns.html">Portfolio - 3 columns</a></li>
                          <li><a href="pages/portfolio/default-4-columns.html">Portfolio - 4 columns</a></li>
                          <li><a href="pages/portfolio/no-spacing.html">Portfolio - no spacing</a></li>
                          <li><a href="pages/portfolio/masonry-2-columns.html">Portfolio (Masonry) - 2 columns</a></li>
                          <li><a href="pages/portfolio/masonry-3-columns.html">Portfolio (Masonry) - 3 columns</a></li>
                          <li><a href="pages/portfolio/masonry-4-columns.html">Portfolio (Masonry) - 4 columns </a></li>
                          <li><a href="pages/portfolio/fullscreen.html">Portfolio - Slider navigation</a></li>
                          <li><a href="pages/portfolio/lightbox.html">Portfolio - Lightbox</a></li>
                          <li><a href="pages/portfolio/single-a.html">Portfolio - Single - A</a></li>
                          <li><a href="pages/portfolio/single-b.html">Portfolio - Single - B</a></li>
                          <li><a href="pages/portfolio/single-c.html">Portfolio - Single - C</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a href="#">Features</a>
                        <ul class="dropdown-nav">
                          <li><a href="pages/features/menu-box.html">Menu - Box</a></li>
                          <li><a href="pages/features/menu-fullscreen.html">Menu - Fullscreen</a></li>
                          <li><a href="pages/features/menu-original.html">Menu - Original</a></li>
                          <li><a href="pages/features/menu-sidebar.html">Menu - Sidebar</a></li>
                          <li><a href="pages/features/menu-topbar.html">Menu - Topbar</a></li>
                          <li><a href="pages/features/tabs-accordions.html">Tabs / Accordions</a></li>
                          <li><a href="pages/features/titan-slider.html">Titan Slider</a></li>
                          <li><a href="pages/features/tera-lightbox.html">Tera Lightbox</a></li>
                          <li><a href="pages/features/typography.html">Typography</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a href="#">Demos</a>
                        <ul class="dropdown-nav">
                          <li><a href="pages/demos/default.html">Default</a></li>
                          <li><a href="pages/demos/agency.html">Agency - A</a></li>
                          <li><a href="pages/demos/agency-b.html">Agency - B</a></li>
                          <li><a href="pages/demos/architecture.html">Architecture</a></li>
                          <li><a href="pages/demos/blogger.html">Blogger</a></li>
                          <li><a href="pages/demos/coming-soon.html">Coming soon</a></li>
                          <li><a href="pages/demos/dark.html">Dark</a></li>
                          <li><a href="pages/demos/freelancer.html">Freelancer</a></li>
                          <li><a href="pages/demos/photographer.html">Photographer</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a href="#">Pages</a>
                        <ul class="dropdown-nav">
                          <li><a href="pages/content/about.html">About</a></li>
                          <li><a href="pages/content/404.html">404</a></li>
                          <li><a href="pages/content/contact-a.html">Contact - A</a></li>
                          <li><a href="pages/content/contact-b.html">Contact - B</a></li>
                          <li><a href="pages/content/pricing.html">Pricing</a></li>
                          <li><a href="pages/content/search-results.html">Search results</a></li>
                          <li><a href="pages/content/services.html">Services</a></li>
                          <li><a href="pages/content/team.html">Team</a></li>
                          <li><a href="pages/shop/shop.html">Shop</a></li>
                          <li><a href="pages/shop/product.html">Product</a></li>
                          <li><a href="pages/shop/cart.html">Cart</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a href="#">Blog</a>
                        <ul class="dropdown-nav">
                          <li><a href="pages/blog/2-columns-sidebar.html">Blog - 2 columns</a></li>
                          <li><a href="pages/blog/1-column-sidebar.html">Blog - 1 column</a></li>
                          <li><a href="pages/blog/no-sidebar.html">Blog - No sidebar</a></li>
                          <li><a href="pages/blog/single-a.html">Single - Hero</a></li>
                          <li><a href="pages/blog/single-b.html">Single - Header</a></li>
                          <li><a href="pages/blog/single-c.html">Single - Sidebar</a></li>
                        </ul>
                      </li>
                      <li><a href="https://themeforest.net/item/titan-creative-html5-template/16688069">Buy Titan</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="container">
                <form id="search-form" action="pages/content/search-results.html" class="search input-group">
                  <input type="text" placeholder="Search" class="form-control">
                  <div class="input-group-btn">
                    <button type="submit" class="btn"><span class="fa fa-search"></span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="hero small">
        <div class="vbottom">
          <div class="container mb-xl">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1>Creative Template for Professionals</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <h3>Demo's</h3>
          <div class="item-grid col-3 masonry light-items"><a href="pages/demos/default.html" class="item">
              <div class="thumb scroll shadow"><img alt="Titan Template - by Themanoid" src="images/preview/default.png"></div>
              <div class="caption original">
                <h3>Default</h3>
              </div></a><a href="pages/demos/agency.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/agency-1.png"></div>
              <div class="caption original">
                <h3>Agency - A</h3>
              </div></a><a href="pages/demos/agency-b.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/agency-2.png"></div>
              <div class="caption original">
                <h3>Agency - B</h3>
              </div></a><a href="pages/demos/architecture.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/architect.png"></div>
              <div class="caption original">
                <h3>Architecture</h3>
              </div></a><a href="pages/demos/blogger.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/blogger.png"></div>
              <div class="caption original">
                <h3>Blogger</h3>
              </div></a><a href="pages/demos/coming-soon.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/coming-soon.png"></div>
              <div class="caption original">
                <h3>Coming soon</h3>
              </div></a><a href="pages/demos/freelancer.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/freelancer.png"></div>
              <div class="caption original">
                <h3>Freelancer</h3>
              </div></a><a href="pages/demos/photographer.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/photographer.png"></div>
              <div class="caption original">
                <h3>Photographer</h3>
              </div></a>
            <div class="item-sizer"></div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <h3>Features</h3>
          <div class="item-grid col-3 masonry light-items"><a href="pages/features/boxed.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/boxed.png"></div>
              <div class="caption original">
                <h3>Boxed Layout</h3>
              </div></a><a href="pages/features/menu-box.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/menu-boxed.png"></div>
              <div class="caption original">
                <h3>Menu - Boxed</h3>
              </div></a><a href="pages/features/menu-fullscreen.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/menu-fullscreen.png"></div>
              <div class="caption original">
                <h3>Menu - Fullscreen</h3>
              </div></a><a href="pages/features/menu-original.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/menu-classic.png"></div>
              <div class="caption original">
                <h3>Menu - Classic</h3>
              </div></a><a href="pages/features/menu-sidebar.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/menu-sidebar.png"></div>
              <div class="caption original">
                <h3>Menu - Sidebar</h3>
              </div></a><a href="pages/features/menu-topbar.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/menu-topbar.png"></div>
              <div class="caption original">
                <h3>Menu - Topbar</h3>
              </div></a><a href="pages/features/tabs-accordions.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/tabs-accordions.png"></div>
              <div class="caption original">
                <h3>Tabs + Accordions</h3>
              </div></a><a href="pages/features/tera-lightbox.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/tera-lightbox.png"></div>
              <div class="caption original">
                <h3>Tera Lightbox</h3>
              </div></a><a href="pages/features/titan-slider.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/titan-slider.png"></div>
              <div class="caption original">
                <h3>Titan Slider</h3>
              </div></a><a href="pages/features/typography.html" class="item">
              <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/typography.png"></div>
              <div class="caption original">
                <h3>Typography</h3>
              </div></a>
            <div class="item-sizer"></div>
          </div>
        </div>
        <section>
          <div class="container">
            <h3>Portfolio</h3>
            <div class="item-grid col-3 masonry light-items"><a href="pages/portfolio/default-2-columns.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-2-columns.png"></div>
                <div class="caption original">
                  <h3>Portfolio - 2 columns</h3>
                </div></a><a href="pages/portfolio/default-3-columns.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-3-columns.png"></div>
                <div class="caption original">
                  <h3>Portfolio - 3 columns</h3>
                </div></a><a href="pages/portfolio/default-4-columns.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-4-columns.png"></div>
                <div class="caption original">
                  <h3>Portfolio - 4 columns</h3>
                </div></a><a href="pages/portfolio/masonry-2-columns.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-2-columns-masonry.png"></div>
                <div class="caption original">
                  <h3>Masonry - 2 columns</h3>
                </div></a><a href="pages/portfolio/masonry-3-columns.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-3-columns-masonry.png"></div>
                <div class="caption original">
                  <h3>Masonry - 3 columns</h3>
                </div></a><a href="pages/portfolio/masonry-4-columns.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-4-columns-masonry.png"></div>
                <div class="caption original">
                  <h3>Masonry - 4 columns</h3>
                </div></a><a href="pages/portfolio/no-spacing.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-no-spacing.png"></div>
                <div class="caption original">
                  <h3>No spacing</h3>
                </div></a><a href="pages/portfolio/fullscreen.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-fullscreen.png"></div>
                <div class="caption original">
                  <h3>Fullscreen</h3>
                </div></a><a href="pages/portfolio/lightbox.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-lightbox.png"></div>
                <div class="caption original">
                  <h3>Lightbox</h3>
                </div></a><a href="pages/portfolio/single-a.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-single-a.png"></div>
                <div class="caption original">
                  <h3>Single - A</h3>
                </div></a><a href="pages/portfolio/single-b.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-single-b.png"></div>
                <div class="caption original">
                  <h3>Single - B</h3>
                </div></a><a href="pages/portfolio/single-c.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/portfolio-single-c.png"></div>
                <div class="caption original">
                  <h3>Single - C</h3>
                </div></a>
              <div class="item-sizer"></div>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <h3>Content pages</h3>
            <div class="item-grid col-3 masonry light-items"><a href="pages/content/about.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/about.png"></div>
                <div class="caption original">
                  <h3>About</h3>
                </div></a><a href="pages/content/404.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/404.png"></div>
                <div class="caption original">
                  <h3>Error 404</h3>
                </div></a><a href="pages/content/contact-a.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/contact-a.png"></div>
                <div class="caption original">
                  <h3>Contact - A</h3>
                </div></a><a href="pages/content/contact-b.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/contact-b.png"></div>
                <div class="caption original">
                  <h3>Contact - B</h3>
                </div></a><a href="pages/content/pricing.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/pricing.png"></div>
                <div class="caption original">
                  <h3>Pricing</h3>
                </div></a><a href="pages/content/search-results.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/search-results.png"></div>
                <div class="caption original">
                  <h3>Search results</h3>
                </div></a><a href="pages/content/services.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/services.png"></div>
                <div class="caption original">
                  <h3>Services</h3>
                </div></a><a href="pages/content/team.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/team.png"></div>
                <div class="caption original">
                  <h3>Team</h3>
                </div></a>
              <div class="item-sizer"></div>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <h3>Blog</h3>
            <div class="item-grid col-3 masonry light-items"><a href="pages/blog/1-column-sidebar.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/blog-1-column.png"></div>
                <div class="caption original">
                  <h3>1 Column - Sidebar</h3>
                </div></a><a href="pages/blog/2-columns-sidebar.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/blog-2-columns.png"></div>
                <div class="caption original">
                  <h3>2 Columns - Sidebar</h3>
                </div></a><a href="pages/blog/no-sidebar.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/blog-no-sidebar.png"></div>
                <div class="caption original">
                  <h3>No sidebar</h3>
                </div></a><a href="pages/blog/single-a.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/blog-single-a.png"></div>
                <div class="caption original">
                  <h3>Single - A</h3>
                </div></a><a href="pages/blog/single-b.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/blog-single-b.png"></div>
                <div class="caption original">
                  <h3>Single - B</h3>
                </div></a><a href="pages/blog/single-c.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/blog-single-c.png"></div>
                <div class="caption original">
                  <h3>Single - C</h3>
                </div></a>
              <div class="item-sizer"></div>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <h3>Shop</h3>
            <div class="item-grid col-3 masonry light-items"><a href="pages/shop/shop.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/shop.png"></div>
                <div class="caption original">
                  <h3>Shop</h3>
                </div></a><a href="pages/shop/product.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/shop-product.png"></div>
                <div class="caption original">
                  <h3>Product</h3>
                </div></a><a href="pages/shop/cart.html" class="item">
                <div class="thumb scroll"><img alt="Titan Template - by Themanoid" src="images/preview/shop-cart.png"></div>
                <div class="caption original">
                  <h3>Cart</h3>
                </div></a>
              <div class="item-sizer"></div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <div class="container-fluid">
      <footer class="footer-simple mt-lg">
        <div class="container text-center"><span class="copyright pull-left">Copyright 2016 Titan</span>
          <ul class="social-list pull-right">
            <li><a href="#">Buy Titan</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="js/assets/bootstrap.js"></script>
    <script src="js/assets/imagesloaded.pkgd.min.js"></script>
    <script src="js/assets/validation.js"></script>
    <script src="js/assets/packery.pkgd.min.js"></script>
    <script src="js/assets/velocity.min.js"></script>
    <script src="modules/titan-slider/titan-slider.js"></script>
    <script src="modules/tera-lightbox/tera-lightbox.js"></script>
    <script src="js/assets/animsition.js"></script>
    <script src="js/functions.js"></script>
  </body>
</html>